
@keyframes fruits-anim1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-60px);
  }
}

@keyframes fruits-anim2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-90px);
  }
}

@keyframes fruits-anim3 {
   0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-30px);
  }
}

@keyframes fruits-anim4 {
    0% {
    transform: translateY(0) rotate(90deg);
  }

  100% {
    transform: translateY(-90px) rotate(90deg);
  }
}


@keyframes vit-anim1 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-90px);
  }
}

@keyframes vit-anim2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-40px);
  }
}

@keyframes glucan-anim1{
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-80px);
  }
}

@keyframes glucan-anim2{
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-50px);
  }
}


/* @keyframes glucan-anim2{
  0% {
    transform: translate(0, 0) scale(0.92);
  }

  100% {
    transform: translate(5px, -5px) scale(1);
  }
}

@keyframes glucan-anim3{
  0% {
    transform: translate(4px, -4px) scale(1);
  }
  
  100% {
    transform: translate(0, 0) scale(0.96);
  }
}
 */
